[submodule "substrate-front-end"]
	path = substrate-front-end
	url = https://github.com/substrate-developer-hub/substrate-front-end-template
	branch = master
[submodule "shift-substrate-core"]
	path = substrate-node
	url = https://github.com/ShiftNrg/shift-substrate-core
	branch = master
